


img{
width:200px;
height:300px;
border: 2px solid brown;
/* display: inline-block; */
position: relative;
}
/* .box,img{
    width:200px;
    height:200px;
    /* display:inline-block; */
} */